{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add New Student</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    <div class="col-sm-7 offset-1">
        <h4 class="text-center alert alert-info">Show Student Information</h4>
        {% if "object_list" %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in object_list  %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.username}}</td>
                    <td>
                        <a href="{% url 'update' student.pk %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'delete' student.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Records Found</h4>
        {% endif %}
    </div>
</div>

{% endblock content %}